--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
aiohttp
albumentations
aqueduct
asposestorage
matplotlib
numpy
onnxruntime
opencv-python-headless
opencv_contrib_python
pandas
Pillow
psutil
pydantic
PyYAML
requests
requests_toolbelt
seaborn
setuptools
