torch==1.9.0+cpu torchvision==0.10.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
aiohttp
albumentations
aqueduct
asposestorage
matplotlib
numpy
onnxruntime
opencv-python-headless
opencv_contrib_python
pandas
Pillow
psutil
pydantic
pytest
PyYAML
requests
requests_toolbelt
seaborn
setuptools
